---
title: Categories
permalink: "/categories"
layout: default
---

<div class="col-md-9">
  <div class="well">
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
    <a class="anchor" name="{{ category_name | slugize }}"></a>
    <a href="/categories#{{category_name}}"><h1>{{ category_name }}</h1></a>
    <ul>
    {% for post in site.categories[category_name] %}      
      <li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
</div>